.home{
    display: flex;
    flex-direction: column;
    padding: 10px 150px;
    .content{
        display: flex;
        flex-direction: column;
        gap: 20px;
        .upload{
            border-bottom: 1px solid var(--color-gray-5);
            padding-bottom: 30px;
            .header{
                text-align: left;
                padding: 10px 30px;
                font-size: large;
                font-weight: 500;
            }
        }
    }
}